<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zmsj.phoenix.dao.TeilMapper">
  <resultMap id="BaseResultMap" type="com.zmsj.phoenix.model.sqlserver.Teil">
    <result column="TETEIL" property="teteil" jdbcType="INTEGER"/>
    <result column="TETEILNR" property="teteilnr" jdbcType="VARCHAR"/>
    <result column="TEBEZEICH" property="tebezeich" jdbcType="VARCHAR"/>
    <result column="TEDPFLICHT" property="tedpflicht" jdbcType="SMALLINT"/>
    <result column="TEHERSTELLERNR" property="teherstellernr" jdbcType="VARCHAR"/>
    <result column="TEHERSTELLERBEZ" property="teherstellerbez" jdbcType="VARCHAR"/>
    <result column="TEWERKSTOFFNR" property="tewerkstoffnr" jdbcType="VARCHAR"/>
    <result column="TEWERKSTOFFBEZ" property="tewerkstoffbez" jdbcType="VARCHAR"/>
    <result column="TEZEICHNUNGNR" property="tezeichnungnr" jdbcType="VARCHAR"/>
    <result column="TEZEICHNUNGAEND" property="tezeichnungaend" jdbcType="VARCHAR"/>
    <result column="TEZEICHNUNGINDEX" property="tezeichnungindex" jdbcType="VARCHAR"/>
    <result column="TEAUFTRAGSTR" property="teauftragstr" jdbcType="VARCHAR"/>
    <result column="TEAUFTRAGGBNR" property="teauftraggbnr" jdbcType="VARCHAR"/>
    <result column="TEAUFTRAGGBBEZ" property="teauftraggbbez" jdbcType="VARCHAR"/>
    <result column="TEKUNDENR" property="tekundenr" jdbcType="VARCHAR"/>
    <result column="TEKUNDEBEZ" property="tekundebez" jdbcType="VARCHAR"/>
    <result column="TELIEFERANTNR" property="telieferantnr" jdbcType="VARCHAR"/>
    <result column="TELIEFERANTBEZ" property="telieferantbez" jdbcType="VARCHAR"/>
    <result column="TEPREINRNR" property="tepreinrnr" jdbcType="VARCHAR"/>
    <result column="TEPREINRBEZ" property="tepreinrbez" jdbcType="VARCHAR"/>
    <result column="TEPRGRUNDBEZ" property="teprgrundbez" jdbcType="VARCHAR"/>
    <result column="TEPRBEGINNSTR" property="teprbeginnstr" jdbcType="VARCHAR"/>
    <result column="TEPRENDESTR" property="teprendestr" jdbcType="VARCHAR"/>
    <result column="TEKURZBEZEICH" property="tekurzbezeich" jdbcType="VARCHAR"/>
    <result column="TEAENDSTAND" property="teaendstand" jdbcType="VARCHAR"/>
    <result column="TEERZEUGNIS" property="teerzeugnis" jdbcType="VARCHAR"/>
    <result column="TEMASCHINENR" property="temaschinenr" jdbcType="VARCHAR"/>
    <result column="TEMASCHINEBEZ" property="temaschinebez" jdbcType="VARCHAR"/>
    <result column="TEMASCHINEORT" property="temaschineort" jdbcType="VARCHAR"/>
    <result column="TEARBEITSGANG" property="tearbeitsgang" jdbcType="VARCHAR"/>
    <result column="TEBEREICH" property="tebereich" jdbcType="VARCHAR"/>
    <result column="TEABT" property="teabt" jdbcType="VARCHAR"/>
    <result column="TEPRPLATZ" property="teprplatz" jdbcType="VARCHAR"/>
    <result column="TEPPLANERST" property="tepplanerst" jdbcType="VARCHAR"/>
    <result column="TEHERSTELLERKEY" property="teherstellerkey" jdbcType="INTEGER"/>
    <result column="TEWERKSTOFFKEY" property="tewerkstoffkey" jdbcType="INTEGER"/>
    <result column="TEZEICHNUNGKEY" property="tezeichnungkey" jdbcType="INTEGER"/>
    <result column="TEAUFTRAGGBKEY" property="teauftraggbkey" jdbcType="INTEGER"/>
    <result column="TEKUNDEKEY" property="tekundekey" jdbcType="INTEGER"/>
    <result column="TELIEFERANTKEY" property="telieferantkey" jdbcType="INTEGER"/>
    <result column="TEMASCHINEKEY" property="temaschinekey" jdbcType="INTEGER"/>
    <result column="TEPREINRKEY" property="tepreinrkey" jdbcType="INTEGER"/>
    <result column="TEKONFIG" property="tekonfig" jdbcType="VARCHAR"/>
    <result column="TENRKURZ" property="tenrkurz" jdbcType="VARCHAR"/>
    <result column="TEWERKSTATT" property="tewerkstatt" jdbcType="VARCHAR"/>
    <result column="TEREFTEIL" property="terefteil" jdbcType="VARCHAR"/>
    <result column="TENORMNR" property="tenormnr" jdbcType="VARCHAR"/>
    <result column="TENORMBEZ" property="tenormbez" jdbcType="VARCHAR"/>
    <result column="TENORMAL" property="tenormal" jdbcType="SMALLINT"/>
    <result column="TEERZEUGNISKEY" property="teerzeugniskey" jdbcType="INTEGER"/>
    <result column="TETYP" property="tetyp" jdbcType="VARCHAR"/>
    <result column="TECODE" property="tecode" jdbcType="VARCHAR"/>
    <result column="TEVARIANTE" property="tevariante" jdbcType="VARCHAR"/>
    <result column="TESACHNRZUS" property="tesachnrzus" jdbcType="VARCHAR"/>
    <result column="TESACHNRIDX" property="tesachnridx" jdbcType="VARCHAR"/>
    <result column="TETEILIDENT" property="teteilident" jdbcType="VARCHAR"/>
    <result column="TEKOSTST" property="tekostst" jdbcType="VARCHAR"/>
    <result column="TESCHICHT" property="teschicht" jdbcType="VARCHAR"/>
    <result column="TEBESTNR" property="tebestnr" jdbcType="VARCHAR"/>
    <result column="TEWARENEINNR" property="tewareneinnr" jdbcType="VARCHAR"/>
    <result column="TEWUERFEL" property="tewuerfel" jdbcType="VARCHAR"/>
    <result column="TEPOSITION" property="teposition" jdbcType="VARCHAR"/>
    <result column="TEVORRICHT" property="tevorricht" jdbcType="VARCHAR"/>
    <result column="TEFERTDAT" property="tefertdat" jdbcType="VARCHAR"/>
    <result column="TEPRUEFART" property="tepruefart" jdbcType="VARCHAR"/>
    <result column="TEMESSRAUM" property="temessraum" jdbcType="VARCHAR"/>
    <result column="TEMESSPROGNR" property="temessprognr" jdbcType="VARCHAR"/>
    <result column="TEMESSPROGVER" property="temessprogver" jdbcType="VARCHAR"/>
    <result column="TEPRUEFERKEY" property="teprueferkey" jdbcType="INTEGER"/>
    <result column="TEPRUEFERNR" property="tepruefernr" jdbcType="VARCHAR"/>
    <result column="TEPRUEFERNAME" property="tepruefername" jdbcType="VARCHAR"/>
    <result column="TEFREIFELD" property="tefreifeld" jdbcType="TINYINT"/>
    <result column="TEZSB_1016" property="tezsb1016" jdbcType="VARCHAR"/>
    <result column="TEREPORTFILE_1350" property="tereportfile1350" jdbcType="VARCHAR"/>
    <result column="TE_1045" property="te1045" jdbcType="VARCHAR"/>
    <result column="TE_1046" property="te1046" jdbcType="VARCHAR"/>
    <result column="TE_1047" property="te1047" jdbcType="VARCHAR"/>
    <result column="TE_1300" property="te1300" jdbcType="INTEGER"/>
    <result column="TE_1301" property="te1301" jdbcType="SMALLINT"/>
    <result column="TE_1302" property="te1302" jdbcType="VARCHAR"/>
    <result column="TE_1311" property="te1311" jdbcType="VARCHAR"/>
    <result column="TE_1341" property="te1341" jdbcType="VARCHAR"/>
    <result column="TE_1342" property="te1342" jdbcType="VARCHAR"/>
    <result column="TE_1343" property="te1343" jdbcType="VARCHAR"/>
    <result column="TEWERK" property="tewerk" jdbcType="VARCHAR"/>
    <result column="TEMESSTYP" property="temesstyp" jdbcType="INTEGER"/>
    <result column="TE_1344" property="te1344" jdbcType="VARCHAR"/>
    <result column="TE_1015" property="te1015" jdbcType="SMALLINT"/>
    <result column="TE_1017" property="te1017" jdbcType="TINYINT"/>
    <result column="TE_1087" property="te1087" jdbcType="VARCHAR"/>
    <result column="TE_1018" property="te1018" jdbcType="INTEGER"/>
    <result column="TE_1401" property="te1401" jdbcType="INTEGER"/>
    <result column="TE_1402" property="te1402" jdbcType="INTEGER"/>
    <result column="TE_1403" property="te1403" jdbcType="INTEGER"/>
    <result column="TE_1404" property="te1404" jdbcType="INTEGER"/>
    <result column="TE_1405" property="te1405" jdbcType="INTEGER"/>
    <result column="TE_1407" property="te1407" jdbcType="INTEGER"/>
    <result column="TE_1408" property="te1408" jdbcType="INTEGER"/>
    <result column="TE_1410" property="te1410" jdbcType="VARCHAR"/>
    <result column="TE_1411" property="te1411" jdbcType="INTEGER"/>
    <result column="TE_1091" property="te1091" jdbcType="VARCHAR"/>
    <result column="TE_1092" property="te1092" jdbcType="VARCHAR"/>
    <result column="TE_1105" property="te1105" jdbcType="VARCHAR"/>
    <result column="TE_1106" property="te1106" jdbcType="VARCHAR"/>
    <result column="TE_1107" property="te1107" jdbcType="VARCHAR"/>
    <result column="TE_1108" property="te1108" jdbcType="VARCHAR"/>
    <result column="TE_1304" property="te1304" jdbcType="VARCHAR"/>
    <result column="TE_1048" property="te1048" jdbcType="VARCHAR"/>
    <result column="TE_1412" property="te1412" jdbcType="INTEGER"/>
    <result column="TE_1413" property="te1413" jdbcType="DOUBLE"/>
    <result column="TE_1414" property="te1414" jdbcType="INTEGER"/>
    <result column="TE_1415" property="te1415" jdbcType="TINYINT"/>
    <result column="TE_1094" property="te1094" jdbcType="VARCHAR"/>
    <result column="TE_1095" property="te1095" jdbcType="VARCHAR"/>
    <result column="TE_1096" property="te1096" jdbcType="INTEGER"/>
    <result column="TE_1019" property="te1019" jdbcType="INTEGER"/>
    <result column="TE_1798" property="te1798" jdbcType="INTEGER"/>
    <result column="TE_1117" property="te1117" jdbcType="INTEGER"/>
    <result column="TEGUID" property="teguid" jdbcType="CHAR"/>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zmsj.phoenix.model.sqlserver.TeilWithBLOBs"
    extends="BaseResultMap">
    <result column="TEBEM" property="tebem" jdbcType="LONGVARCHAR"/>
    <result column="TE_1799" property="te1799" jdbcType="LONGVARCHAR"/>
  </resultMap>
  <sql id="Blob_Column_List">
    TEBEM, TE_1799
  </sql>
  <insert id="insert" parameterType="com.zmsj.phoenix.model.sqlserver.TeilWithBLOBs">
    insert into TEIL (TETEIL, TETEILNR, TEBEZEICH,
                      TEDPFLICHT, TEHERSTELLERNR, TEHERSTELLERBEZ,
                      TEWERKSTOFFNR, TEWERKSTOFFBEZ, TEZEICHNUNGNR,
                      TEZEICHNUNGAEND, TEZEICHNUNGINDEX, TEAUFTRAGSTR,
                      TEAUFTRAGGBNR, TEAUFTRAGGBBEZ, TEKUNDENR,
                      TEKUNDEBEZ, TELIEFERANTNR, TELIEFERANTBEZ,
                      TEPREINRNR, TEPREINRBEZ, TEPRGRUNDBEZ,
                      TEPRBEGINNSTR, TEPRENDESTR, TEKURZBEZEICH,
                      TEAENDSTAND, TEERZEUGNIS, TEMASCHINENR,
                      TEMASCHINEBEZ, TEMASCHINEORT, TEARBEITSGANG,
                      TEBEREICH, TEABT, TEPRPLATZ,
                      TEPPLANERST, TEHERSTELLERKEY, TEWERKSTOFFKEY,
                      TEZEICHNUNGKEY, TEAUFTRAGGBKEY, TEKUNDEKEY,
                      TELIEFERANTKEY, TEMASCHINEKEY, TEPREINRKEY,
                      TEKONFIG, TENRKURZ, TEWERKSTATT,
                      TEREFTEIL, TENORMNR, TENORMBEZ,
                      TENORMAL, TEERZEUGNISKEY, TETYP,
                      TECODE, TEVARIANTE, TESACHNRZUS,
                      TESACHNRIDX, TETEILIDENT, TEKOSTST,
                      TESCHICHT, TEBESTNR, TEWARENEINNR,
                      TEWUERFEL, TEPOSITION, TEVORRICHT,
                      TEFERTDAT, TEPRUEFART, TEMESSRAUM,
                      TEMESSPROGNR, TEMESSPROGVER, TEPRUEFERKEY,
                      TEPRUEFERNR, TEPRUEFERNAME, TEFREIFELD,
                      TEZSB_1016, TEREPORTFILE_1350, TE_1045,
                      TE_1046, TE_1047, TE_1300,
                      TE_1301, TE_1302, TE_1311,
                      TE_1341, TE_1342, TE_1343,
                      TEWERK, TEMESSTYP, TE_1344,
                      TE_1015, TE_1017, TE_1087,
                      TE_1018, TE_1401, TE_1402,
                      TE_1403, TE_1404, TE_1405,
                      TE_1407, TE_1408, TE_1410,
                      TE_1411, TE_1091, TE_1092,
                      TE_1105, TE_1106, TE_1107,
                      TE_1108, TE_1304, TE_1048,
                      TE_1412, TE_1413, TE_1414,
                      TE_1415, TE_1094, TE_1095,
                      TE_1096, TE_1019, TE_1798,
                      TE_1117, TEGUID, TEBEM,
                      TE_1799)
    values (#{teteil,jdbcType=INTEGER}, #{teteilnr,jdbcType=VARCHAR}, #{tebezeich,jdbcType=VARCHAR},
            #{tedpflicht,jdbcType=SMALLINT}, #{teherstellernr,jdbcType=VARCHAR},
            #{teherstellerbez,jdbcType=VARCHAR},
            #{tewerkstoffnr,jdbcType=VARCHAR}, #{tewerkstoffbez,jdbcType=VARCHAR},
            #{tezeichnungnr,jdbcType=VARCHAR},
            #{tezeichnungaend,jdbcType=VARCHAR}, #{tezeichnungindex,jdbcType=VARCHAR},
            #{teauftragstr,jdbcType=VARCHAR},
            #{teauftraggbnr,jdbcType=VARCHAR}, #{teauftraggbbez,jdbcType=VARCHAR},
            #{tekundenr,jdbcType=VARCHAR},
            #{tekundebez,jdbcType=VARCHAR}, #{telieferantnr,jdbcType=VARCHAR},
            #{telieferantbez,jdbcType=VARCHAR},
            #{tepreinrnr,jdbcType=VARCHAR}, #{tepreinrbez,jdbcType=VARCHAR},
            #{teprgrundbez,jdbcType=VARCHAR},
            #{teprbeginnstr,jdbcType=VARCHAR}, #{teprendestr,jdbcType=VARCHAR},
            #{tekurzbezeich,jdbcType=VARCHAR},
            #{teaendstand,jdbcType=VARCHAR}, #{teerzeugnis,jdbcType=VARCHAR},
            #{temaschinenr,jdbcType=VARCHAR},
            #{temaschinebez,jdbcType=VARCHAR}, #{temaschineort,jdbcType=VARCHAR},
            #{tearbeitsgang,jdbcType=VARCHAR},
            #{tebereich,jdbcType=VARCHAR}, #{teabt,jdbcType=VARCHAR}, #{teprplatz,jdbcType=VARCHAR},
            #{tepplanerst,jdbcType=VARCHAR}, #{teherstellerkey,jdbcType=INTEGER},
            #{tewerkstoffkey,jdbcType=INTEGER},
            #{tezeichnungkey,jdbcType=INTEGER}, #{teauftraggbkey,jdbcType=INTEGER},
            #{tekundekey,jdbcType=INTEGER},
            #{telieferantkey,jdbcType=INTEGER}, #{temaschinekey,jdbcType=INTEGER},
            #{tepreinrkey,jdbcType=INTEGER},
            #{tekonfig,jdbcType=VARCHAR}, #{tenrkurz,jdbcType=VARCHAR},
            #{tewerkstatt,jdbcType=VARCHAR},
            #{terefteil,jdbcType=VARCHAR}, #{tenormnr,jdbcType=VARCHAR},
            #{tenormbez,jdbcType=VARCHAR},
            #{tenormal,jdbcType=SMALLINT}, #{teerzeugniskey,jdbcType=INTEGER},
            #{tetyp,jdbcType=VARCHAR},
            #{tecode,jdbcType=VARCHAR}, #{tevariante,jdbcType=VARCHAR},
            #{tesachnrzus,jdbcType=VARCHAR},
            #{tesachnridx,jdbcType=VARCHAR}, #{teteilident,jdbcType=VARCHAR},
            #{tekostst,jdbcType=VARCHAR},
            #{teschicht,jdbcType=VARCHAR}, #{tebestnr,jdbcType=VARCHAR},
            #{tewareneinnr,jdbcType=VARCHAR},
            #{tewuerfel,jdbcType=VARCHAR}, #{teposition,jdbcType=VARCHAR},
            #{tevorricht,jdbcType=VARCHAR},
            #{tefertdat,jdbcType=VARCHAR}, #{tepruefart,jdbcType=VARCHAR},
            #{temessraum,jdbcType=VARCHAR},
            #{temessprognr,jdbcType=VARCHAR}, #{temessprogver,jdbcType=VARCHAR},
            #{teprueferkey,jdbcType=INTEGER},
            #{tepruefernr,jdbcType=VARCHAR}, #{tepruefername,jdbcType=VARCHAR},
            #{tefreifeld,jdbcType=TINYINT},
            #{tezsb1016,jdbcType=VARCHAR}, #{tereportfile1350,jdbcType=VARCHAR},
            #{te1045,jdbcType=VARCHAR},
            #{te1046,jdbcType=VARCHAR}, #{te1047,jdbcType=VARCHAR}, #{te1300,jdbcType=INTEGER},
            #{te1301,jdbcType=SMALLINT}, #{te1302,jdbcType=VARCHAR}, #{te1311,jdbcType=VARCHAR},
            #{te1341,jdbcType=VARCHAR}, #{te1342,jdbcType=VARCHAR}, #{te1343,jdbcType=VARCHAR},
            #{tewerk,jdbcType=VARCHAR}, #{temesstyp,jdbcType=INTEGER}, #{te1344,jdbcType=VARCHAR},
            #{te1015,jdbcType=SMALLINT}, #{te1017,jdbcType=TINYINT}, #{te1087,jdbcType=VARCHAR},
            #{te1018,jdbcType=INTEGER}, #{te1401,jdbcType=INTEGER}, #{te1402,jdbcType=INTEGER},
            #{te1403,jdbcType=INTEGER}, #{te1404,jdbcType=INTEGER}, #{te1405,jdbcType=INTEGER},
            #{te1407,jdbcType=INTEGER}, #{te1408,jdbcType=INTEGER}, #{te1410,jdbcType=VARCHAR},
            #{te1411,jdbcType=INTEGER}, #{te1091,jdbcType=VARCHAR}, #{te1092,jdbcType=VARCHAR},
            #{te1105,jdbcType=VARCHAR}, #{te1106,jdbcType=VARCHAR}, #{te1107,jdbcType=VARCHAR},
            #{te1108,jdbcType=VARCHAR}, #{te1304,jdbcType=VARCHAR}, #{te1048,jdbcType=VARCHAR},
            #{te1412,jdbcType=INTEGER}, #{te1413,jdbcType=DOUBLE}, #{te1414,jdbcType=INTEGER},
            #{te1415,jdbcType=TINYINT}, #{te1094,jdbcType=VARCHAR}, #{te1095,jdbcType=VARCHAR},
            #{te1096,jdbcType=INTEGER}, #{te1019,jdbcType=INTEGER}, #{te1798,jdbcType=INTEGER},
            #{te1117,jdbcType=INTEGER}, #{teguid,jdbcType=CHAR}, #{tebem,jdbcType=LONGVARCHAR},
            #{te1799,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zmsj.phoenix.model.sqlserver.TeilWithBLOBs">
    insert into TEIL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teteil != null">
        TETEIL,
      </if>
      <if test="teteilnr != null">
        TETEILNR,
      </if>
      <if test="tebezeich != null">
        TEBEZEICH,
      </if>
      <if test="tedpflicht != null">
        TEDPFLICHT,
      </if>
      <if test="teherstellernr != null">
        TEHERSTELLERNR,
      </if>
      <if test="teherstellerbez != null">
        TEHERSTELLERBEZ,
      </if>
      <if test="tewerkstoffnr != null">
        TEWERKSTOFFNR,
      </if>
      <if test="tewerkstoffbez != null">
        TEWERKSTOFFBEZ,
      </if>
      <if test="tezeichnungnr != null">
        TEZEICHNUNGNR,
      </if>
      <if test="tezeichnungaend != null">
        TEZEICHNUNGAEND,
      </if>
      <if test="tezeichnungindex != null">
        TEZEICHNUNGINDEX,
      </if>
      <if test="teauftragstr != null">
        TEAUFTRAGSTR,
      </if>
      <if test="teauftraggbnr != null">
        TEAUFTRAGGBNR,
      </if>
      <if test="teauftraggbbez != null">
        TEAUFTRAGGBBEZ,
      </if>
      <if test="tekundenr != null">
        TEKUNDENR,
      </if>
      <if test="tekundebez != null">
        TEKUNDEBEZ,
      </if>
      <if test="telieferantnr != null">
        TELIEFERANTNR,
      </if>
      <if test="telieferantbez != null">
        TELIEFERANTBEZ,
      </if>
      <if test="tepreinrnr != null">
        TEPREINRNR,
      </if>
      <if test="tepreinrbez != null">
        TEPREINRBEZ,
      </if>
      <if test="teprgrundbez != null">
        TEPRGRUNDBEZ,
      </if>
      <if test="teprbeginnstr != null">
        TEPRBEGINNSTR,
      </if>
      <if test="teprendestr != null">
        TEPRENDESTR,
      </if>
      <if test="tekurzbezeich != null">
        TEKURZBEZEICH,
      </if>
      <if test="teaendstand != null">
        TEAENDSTAND,
      </if>
      <if test="teerzeugnis != null">
        TEERZEUGNIS,
      </if>
      <if test="temaschinenr != null">
        TEMASCHINENR,
      </if>
      <if test="temaschinebez != null">
        TEMASCHINEBEZ,
      </if>
      <if test="temaschineort != null">
        TEMASCHINEORT,
      </if>
      <if test="tearbeitsgang != null">
        TEARBEITSGANG,
      </if>
      <if test="tebereich != null">
        TEBEREICH,
      </if>
      <if test="teabt != null">
        TEABT,
      </if>
      <if test="teprplatz != null">
        TEPRPLATZ,
      </if>
      <if test="tepplanerst != null">
        TEPPLANERST,
      </if>
      <if test="teherstellerkey != null">
        TEHERSTELLERKEY,
      </if>
      <if test="tewerkstoffkey != null">
        TEWERKSTOFFKEY,
      </if>
      <if test="tezeichnungkey != null">
        TEZEICHNUNGKEY,
      </if>
      <if test="teauftraggbkey != null">
        TEAUFTRAGGBKEY,
      </if>
      <if test="tekundekey != null">
        TEKUNDEKEY,
      </if>
      <if test="telieferantkey != null">
        TELIEFERANTKEY,
      </if>
      <if test="temaschinekey != null">
        TEMASCHINEKEY,
      </if>
      <if test="tepreinrkey != null">
        TEPREINRKEY,
      </if>
      <if test="tekonfig != null">
        TEKONFIG,
      </if>
      <if test="tenrkurz != null">
        TENRKURZ,
      </if>
      <if test="tewerkstatt != null">
        TEWERKSTATT,
      </if>
      <if test="terefteil != null">
        TEREFTEIL,
      </if>
      <if test="tenormnr != null">
        TENORMNR,
      </if>
      <if test="tenormbez != null">
        TENORMBEZ,
      </if>
      <if test="tenormal != null">
        TENORMAL,
      </if>
      <if test="teerzeugniskey != null">
        TEERZEUGNISKEY,
      </if>
      <if test="tetyp != null">
        TETYP,
      </if>
      <if test="tecode != null">
        TECODE,
      </if>
      <if test="tevariante != null">
        TEVARIANTE,
      </if>
      <if test="tesachnrzus != null">
        TESACHNRZUS,
      </if>
      <if test="tesachnridx != null">
        TESACHNRIDX,
      </if>
      <if test="teteilident != null">
        TETEILIDENT,
      </if>
      <if test="tekostst != null">
        TEKOSTST,
      </if>
      <if test="teschicht != null">
        TESCHICHT,
      </if>
      <if test="tebestnr != null">
        TEBESTNR,
      </if>
      <if test="tewareneinnr != null">
        TEWARENEINNR,
      </if>
      <if test="tewuerfel != null">
        TEWUERFEL,
      </if>
      <if test="teposition != null">
        TEPOSITION,
      </if>
      <if test="tevorricht != null">
        TEVORRICHT,
      </if>
      <if test="tefertdat != null">
        TEFERTDAT,
      </if>
      <if test="tepruefart != null">
        TEPRUEFART,
      </if>
      <if test="temessraum != null">
        TEMESSRAUM,
      </if>
      <if test="temessprognr != null">
        TEMESSPROGNR,
      </if>
      <if test="temessprogver != null">
        TEMESSPROGVER,
      </if>
      <if test="teprueferkey != null">
        TEPRUEFERKEY,
      </if>
      <if test="tepruefernr != null">
        TEPRUEFERNR,
      </if>
      <if test="tepruefername != null">
        TEPRUEFERNAME,
      </if>
      <if test="tefreifeld != null">
        TEFREIFELD,
      </if>
      <if test="tezsb1016 != null">
        TEZSB_1016,
      </if>
      <if test="tereportfile1350 != null">
        TEREPORTFILE_1350,
      </if>
      <if test="te1045 != null">
        TE_1045,
      </if>
      <if test="te1046 != null">
        TE_1046,
      </if>
      <if test="te1047 != null">
        TE_1047,
      </if>
      <if test="te1300 != null">
        TE_1300,
      </if>
      <if test="te1301 != null">
        TE_1301,
      </if>
      <if test="te1302 != null">
        TE_1302,
      </if>
      <if test="te1311 != null">
        TE_1311,
      </if>
      <if test="te1341 != null">
        TE_1341,
      </if>
      <if test="te1342 != null">
        TE_1342,
      </if>
      <if test="te1343 != null">
        TE_1343,
      </if>
      <if test="tewerk != null">
        TEWERK,
      </if>
      <if test="temesstyp != null">
        TEMESSTYP,
      </if>
      <if test="te1344 != null">
        TE_1344,
      </if>
      <if test="te1015 != null">
        TE_1015,
      </if>
      <if test="te1017 != null">
        TE_1017,
      </if>
      <if test="te1087 != null">
        TE_1087,
      </if>
      <if test="te1018 != null">
        TE_1018,
      </if>
      <if test="te1401 != null">
        TE_1401,
      </if>
      <if test="te1402 != null">
        TE_1402,
      </if>
      <if test="te1403 != null">
        TE_1403,
      </if>
      <if test="te1404 != null">
        TE_1404,
      </if>
      <if test="te1405 != null">
        TE_1405,
      </if>
      <if test="te1407 != null">
        TE_1407,
      </if>
      <if test="te1408 != null">
        TE_1408,
      </if>
      <if test="te1410 != null">
        TE_1410,
      </if>
      <if test="te1411 != null">
        TE_1411,
      </if>
      <if test="te1091 != null">
        TE_1091,
      </if>
      <if test="te1092 != null">
        TE_1092,
      </if>
      <if test="te1105 != null">
        TE_1105,
      </if>
      <if test="te1106 != null">
        TE_1106,
      </if>
      <if test="te1107 != null">
        TE_1107,
      </if>
      <if test="te1108 != null">
        TE_1108,
      </if>
      <if test="te1304 != null">
        TE_1304,
      </if>
      <if test="te1048 != null">
        TE_1048,
      </if>
      <if test="te1412 != null">
        TE_1412,
      </if>
      <if test="te1413 != null">
        TE_1413,
      </if>
      <if test="te1414 != null">
        TE_1414,
      </if>
      <if test="te1415 != null">
        TE_1415,
      </if>
      <if test="te1094 != null">
        TE_1094,
      </if>
      <if test="te1095 != null">
        TE_1095,
      </if>
      <if test="te1096 != null">
        TE_1096,
      </if>
      <if test="te1019 != null">
        TE_1019,
      </if>
      <if test="te1798 != null">
        TE_1798,
      </if>
      <if test="te1117 != null">
        TE_1117,
      </if>
      <if test="teguid != null">
        TEGUID,
      </if>
      <if test="tebem != null">
        TEBEM,
      </if>
      <if test="te1799 != null">
        TE_1799,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teteil != null">
        #{teteil,jdbcType=INTEGER},
      </if>
      <if test="teteilnr != null">
        #{teteilnr,jdbcType=VARCHAR},
      </if>
      <if test="tebezeich != null">
        #{tebezeich,jdbcType=VARCHAR},
      </if>
      <if test="tedpflicht != null">
        #{tedpflicht,jdbcType=SMALLINT},
      </if>
      <if test="teherstellernr != null">
        #{teherstellernr,jdbcType=VARCHAR},
      </if>
      <if test="teherstellerbez != null">
        #{teherstellerbez,jdbcType=VARCHAR},
      </if>
      <if test="tewerkstoffnr != null">
        #{tewerkstoffnr,jdbcType=VARCHAR},
      </if>
      <if test="tewerkstoffbez != null">
        #{tewerkstoffbez,jdbcType=VARCHAR},
      </if>
      <if test="tezeichnungnr != null">
        #{tezeichnungnr,jdbcType=VARCHAR},
      </if>
      <if test="tezeichnungaend != null">
        #{tezeichnungaend,jdbcType=VARCHAR},
      </if>
      <if test="tezeichnungindex != null">
        #{tezeichnungindex,jdbcType=VARCHAR},
      </if>
      <if test="teauftragstr != null">
        #{teauftragstr,jdbcType=VARCHAR},
      </if>
      <if test="teauftraggbnr != null">
        #{teauftraggbnr,jdbcType=VARCHAR},
      </if>
      <if test="teauftraggbbez != null">
        #{teauftraggbbez,jdbcType=VARCHAR},
      </if>
      <if test="tekundenr != null">
        #{tekundenr,jdbcType=VARCHAR},
      </if>
      <if test="tekundebez != null">
        #{tekundebez,jdbcType=VARCHAR},
      </if>
      <if test="telieferantnr != null">
        #{telieferantnr,jdbcType=VARCHAR},
      </if>
      <if test="telieferantbez != null">
        #{telieferantbez,jdbcType=VARCHAR},
      </if>
      <if test="tepreinrnr != null">
        #{tepreinrnr,jdbcType=VARCHAR},
      </if>
      <if test="tepreinrbez != null">
        #{tepreinrbez,jdbcType=VARCHAR},
      </if>
      <if test="teprgrundbez != null">
        #{teprgrundbez,jdbcType=VARCHAR},
      </if>
      <if test="teprbeginnstr != null">
        #{teprbeginnstr,jdbcType=VARCHAR},
      </if>
      <if test="teprendestr != null">
        #{teprendestr,jdbcType=VARCHAR},
      </if>
      <if test="tekurzbezeich != null">
        #{tekurzbezeich,jdbcType=VARCHAR},
      </if>
      <if test="teaendstand != null">
        #{teaendstand,jdbcType=VARCHAR},
      </if>
      <if test="teerzeugnis != null">
        #{teerzeugnis,jdbcType=VARCHAR},
      </if>
      <if test="temaschinenr != null">
        #{temaschinenr,jdbcType=VARCHAR},
      </if>
      <if test="temaschinebez != null">
        #{temaschinebez,jdbcType=VARCHAR},
      </if>
      <if test="temaschineort != null">
        #{temaschineort,jdbcType=VARCHAR},
      </if>
      <if test="tearbeitsgang != null">
        #{tearbeitsgang,jdbcType=VARCHAR},
      </if>
      <if test="tebereich != null">
        #{tebereich,jdbcType=VARCHAR},
      </if>
      <if test="teabt != null">
        #{teabt,jdbcType=VARCHAR},
      </if>
      <if test="teprplatz != null">
        #{teprplatz,jdbcType=VARCHAR},
      </if>
      <if test="tepplanerst != null">
        #{tepplanerst,jdbcType=VARCHAR},
      </if>
      <if test="teherstellerkey != null">
        #{teherstellerkey,jdbcType=INTEGER},
      </if>
      <if test="tewerkstoffkey != null">
        #{tewerkstoffkey,jdbcType=INTEGER},
      </if>
      <if test="tezeichnungkey != null">
        #{tezeichnungkey,jdbcType=INTEGER},
      </if>
      <if test="teauftraggbkey != null">
        #{teauftraggbkey,jdbcType=INTEGER},
      </if>
      <if test="tekundekey != null">
        #{tekundekey,jdbcType=INTEGER},
      </if>
      <if test="telieferantkey != null">
        #{telieferantkey,jdbcType=INTEGER},
      </if>
      <if test="temaschinekey != null">
        #{temaschinekey,jdbcType=INTEGER},
      </if>
      <if test="tepreinrkey != null">
        #{tepreinrkey,jdbcType=INTEGER},
      </if>
      <if test="tekonfig != null">
        #{tekonfig,jdbcType=VARCHAR},
      </if>
      <if test="tenrkurz != null">
        #{tenrkurz,jdbcType=VARCHAR},
      </if>
      <if test="tewerkstatt != null">
        #{tewerkstatt,jdbcType=VARCHAR},
      </if>
      <if test="terefteil != null">
        #{terefteil,jdbcType=VARCHAR},
      </if>
      <if test="tenormnr != null">
        #{tenormnr,jdbcType=VARCHAR},
      </if>
      <if test="tenormbez != null">
        #{tenormbez,jdbcType=VARCHAR},
      </if>
      <if test="tenormal != null">
        #{tenormal,jdbcType=SMALLINT},
      </if>
      <if test="teerzeugniskey != null">
        #{teerzeugniskey,jdbcType=INTEGER},
      </if>
      <if test="tetyp != null">
        #{tetyp,jdbcType=VARCHAR},
      </if>
      <if test="tecode != null">
        #{tecode,jdbcType=VARCHAR},
      </if>
      <if test="tevariante != null">
        #{tevariante,jdbcType=VARCHAR},
      </if>
      <if test="tesachnrzus != null">
        #{tesachnrzus,jdbcType=VARCHAR},
      </if>
      <if test="tesachnridx != null">
        #{tesachnridx,jdbcType=VARCHAR},
      </if>
      <if test="teteilident != null">
        #{teteilident,jdbcType=VARCHAR},
      </if>
      <if test="tekostst != null">
        #{tekostst,jdbcType=VARCHAR},
      </if>
      <if test="teschicht != null">
        #{teschicht,jdbcType=VARCHAR},
      </if>
      <if test="tebestnr != null">
        #{tebestnr,jdbcType=VARCHAR},
      </if>
      <if test="tewareneinnr != null">
        #{tewareneinnr,jdbcType=VARCHAR},
      </if>
      <if test="tewuerfel != null">
        #{tewuerfel,jdbcType=VARCHAR},
      </if>
      <if test="teposition != null">
        #{teposition,jdbcType=VARCHAR},
      </if>
      <if test="tevorricht != null">
        #{tevorricht,jdbcType=VARCHAR},
      </if>
      <if test="tefertdat != null">
        #{tefertdat,jdbcType=VARCHAR},
      </if>
      <if test="tepruefart != null">
        #{tepruefart,jdbcType=VARCHAR},
      </if>
      <if test="temessraum != null">
        #{temessraum,jdbcType=VARCHAR},
      </if>
      <if test="temessprognr != null">
        #{temessprognr,jdbcType=VARCHAR},
      </if>
      <if test="temessprogver != null">
        #{temessprogver,jdbcType=VARCHAR},
      </if>
      <if test="teprueferkey != null">
        #{teprueferkey,jdbcType=INTEGER},
      </if>
      <if test="tepruefernr != null">
        #{tepruefernr,jdbcType=VARCHAR},
      </if>
      <if test="tepruefername != null">
        #{tepruefername,jdbcType=VARCHAR},
      </if>
      <if test="tefreifeld != null">
        #{tefreifeld,jdbcType=TINYINT},
      </if>
      <if test="tezsb1016 != null">
        #{tezsb1016,jdbcType=VARCHAR},
      </if>
      <if test="tereportfile1350 != null">
        #{tereportfile1350,jdbcType=VARCHAR},
      </if>
      <if test="te1045 != null">
        #{te1045,jdbcType=VARCHAR},
      </if>
      <if test="te1046 != null">
        #{te1046,jdbcType=VARCHAR},
      </if>
      <if test="te1047 != null">
        #{te1047,jdbcType=VARCHAR},
      </if>
      <if test="te1300 != null">
        #{te1300,jdbcType=INTEGER},
      </if>
      <if test="te1301 != null">
        #{te1301,jdbcType=SMALLINT},
      </if>
      <if test="te1302 != null">
        #{te1302,jdbcType=VARCHAR},
      </if>
      <if test="te1311 != null">
        #{te1311,jdbcType=VARCHAR},
      </if>
      <if test="te1341 != null">
        #{te1341,jdbcType=VARCHAR},
      </if>
      <if test="te1342 != null">
        #{te1342,jdbcType=VARCHAR},
      </if>
      <if test="te1343 != null">
        #{te1343,jdbcType=VARCHAR},
      </if>
      <if test="tewerk != null">
        #{tewerk,jdbcType=VARCHAR},
      </if>
      <if test="temesstyp != null">
        #{temesstyp,jdbcType=INTEGER},
      </if>
      <if test="te1344 != null">
        #{te1344,jdbcType=VARCHAR},
      </if>
      <if test="te1015 != null">
        #{te1015,jdbcType=SMALLINT},
      </if>
      <if test="te1017 != null">
        #{te1017,jdbcType=TINYINT},
      </if>
      <if test="te1087 != null">
        #{te1087,jdbcType=VARCHAR},
      </if>
      <if test="te1018 != null">
        #{te1018,jdbcType=INTEGER},
      </if>
      <if test="te1401 != null">
        #{te1401,jdbcType=INTEGER},
      </if>
      <if test="te1402 != null">
        #{te1402,jdbcType=INTEGER},
      </if>
      <if test="te1403 != null">
        #{te1403,jdbcType=INTEGER},
      </if>
      <if test="te1404 != null">
        #{te1404,jdbcType=INTEGER},
      </if>
      <if test="te1405 != null">
        #{te1405,jdbcType=INTEGER},
      </if>
      <if test="te1407 != null">
        #{te1407,jdbcType=INTEGER},
      </if>
      <if test="te1408 != null">
        #{te1408,jdbcType=INTEGER},
      </if>
      <if test="te1410 != null">
        #{te1410,jdbcType=VARCHAR},
      </if>
      <if test="te1411 != null">
        #{te1411,jdbcType=INTEGER},
      </if>
      <if test="te1091 != null">
        #{te1091,jdbcType=VARCHAR},
      </if>
      <if test="te1092 != null">
        #{te1092,jdbcType=VARCHAR},
      </if>
      <if test="te1105 != null">
        #{te1105,jdbcType=VARCHAR},
      </if>
      <if test="te1106 != null">
        #{te1106,jdbcType=VARCHAR},
      </if>
      <if test="te1107 != null">
        #{te1107,jdbcType=VARCHAR},
      </if>
      <if test="te1108 != null">
        #{te1108,jdbcType=VARCHAR},
      </if>
      <if test="te1304 != null">
        #{te1304,jdbcType=VARCHAR},
      </if>
      <if test="te1048 != null">
        #{te1048,jdbcType=VARCHAR},
      </if>
      <if test="te1412 != null">
        #{te1412,jdbcType=INTEGER},
      </if>
      <if test="te1413 != null">
        #{te1413,jdbcType=DOUBLE},
      </if>
      <if test="te1414 != null">
        #{te1414,jdbcType=INTEGER},
      </if>
      <if test="te1415 != null">
        #{te1415,jdbcType=TINYINT},
      </if>
      <if test="te1094 != null">
        #{te1094,jdbcType=VARCHAR},
      </if>
      <if test="te1095 != null">
        #{te1095,jdbcType=VARCHAR},
      </if>
      <if test="te1096 != null">
        #{te1096,jdbcType=INTEGER},
      </if>
      <if test="te1019 != null">
        #{te1019,jdbcType=INTEGER},
      </if>
      <if test="te1798 != null">
        #{te1798,jdbcType=INTEGER},
      </if>
      <if test="te1117 != null">
        #{te1117,jdbcType=INTEGER},
      </if>
      <if test="teguid != null">
        #{teguid,jdbcType=CHAR},
      </if>
      <if test="tebem != null">
        #{tebem,jdbcType=LONGVARCHAR},
      </if>
      <if test="te1799 != null">
        #{te1799,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>