<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zmsj.phoenix.dao.WertevarMapper">
  <resultMap id="BaseResultMap" type="com.zmsj.phoenix.model.sqlserver.Wertevar">
    <result column="WVTEIL" property="wvteil" jdbcType="INTEGER"/>
    <result column="WVMERKMAL" property="wvmerkmal" jdbcType="SMALLINT"/>
    <result column="WVUNTERS" property="wvunters" jdbcType="SMALLINT"/>
    <result column="WVWERTNR" property="wvwertnr" jdbcType="INTEGER"/>
    <result column="WVWERT" property="wvwert" jdbcType="DOUBLE"/>
    <result column="WVATTRIBUT" property="wvattribut" jdbcType="SMALLINT"/>
    <result column="WVPRUEFER" property="wvpruefer" jdbcType="INTEGER"/>
    <result column="WVPRUEFMIT" property="wvpruefmit" jdbcType="INTEGER"/>
    <result column="WVMASCHINE" property="wvmaschine" jdbcType="INTEGER"/>
    <result column="WVNEST" property="wvnest" jdbcType="INTEGER"/>
    <result column="WVDATZEIT" property="wvdatzeit" jdbcType="TIMESTAMP"/>
    <result column="WVSTIANF" property="wvstianf" jdbcType="TINYINT"/>
    <result column="WVCHARGE" property="wvcharge" jdbcType="VARCHAR"/>
    <result column="WVAUFTRAG" property="wvauftrag" jdbcType="VARCHAR"/>
    <result column="WV0005" property="wv0005" jdbcType="VARCHAR"/>
    <result column="WV0009" property="wv0009" jdbcType="VARCHAR"/>
    <result column="WV0014" property="wv0014" jdbcType="VARCHAR"/>
    <result column="WV0016" property="wv0016" jdbcType="VARCHAR"/>
  </resultMap>
  <insert id="insert" parameterType="com.zmsj.phoenix.model.sqlserver.Wertevar">
    insert into WERTEVAR (WVTEIL, WVMERKMAL, WVUNTERS,
                          WVWERTNR, WVWERT, WVATTRIBUT,
                          WVPRUEFER, WVPRUEFMIT, WVMASCHINE,
                          WVNEST, WVDATZEIT, WVSTIANF,
                          WVCHARGE, WVAUFTRAG, WV0005,
                          WV0009, WV0014, WV0016)
    values (#{wvteil,jdbcType=INTEGER}, #{wvmerkmal,jdbcType=SMALLINT},
            #{wvunters,jdbcType=SMALLINT},
            #{wvwertnr,jdbcType=INTEGER}, #{wvwert,jdbcType=DOUBLE},
            #{wvattribut,jdbcType=SMALLINT},
            #{wvpruefer,jdbcType=INTEGER}, #{wvpruefmit,jdbcType=INTEGER},
            #{wvmaschine,jdbcType=INTEGER},
            #{wvnest,jdbcType=INTEGER}, #{wvdatzeit,jdbcType=TIMESTAMP},
            #{wvstianf,jdbcType=TINYINT},
            #{wvcharge,jdbcType=VARCHAR}, #{wvauftrag,jdbcType=VARCHAR}, #{wv0005,jdbcType=VARCHAR},
            #{wv0009,jdbcType=VARCHAR}, #{wv0014,jdbcType=VARCHAR}, #{wv0016,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zmsj.phoenix.model.sqlserver.Wertevar">
    insert into WERTEVAR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wvteil != null">
        WVTEIL,
      </if>
      <if test="wvmerkmal != null">
        WVMERKMAL,
      </if>
      <if test="wvunters != null">
        WVUNTERS,
      </if>
      <if test="wvwertnr != null">
        WVWERTNR,
      </if>
      <if test="wvwert != null">
        WVWERT,
      </if>
      <if test="wvattribut != null">
        WVATTRIBUT,
      </if>
      <if test="wvpruefer != null">
        WVPRUEFER,
      </if>
      <if test="wvpruefmit != null">
        WVPRUEFMIT,
      </if>
      <if test="wvmaschine != null">
        WVMASCHINE,
      </if>
      <if test="wvnest != null">
        WVNEST,
      </if>
      <if test="wvdatzeit != null">
        WVDATZEIT,
      </if>
      <if test="wvstianf != null">
        WVSTIANF,
      </if>
      <if test="wvcharge != null">
        WVCHARGE,
      </if>
      <if test="wvauftrag != null">
        WVAUFTRAG,
      </if>
      <if test="wv0005 != null">
        WV0005,
      </if>
      <if test="wv0009 != null">
        WV0009,
      </if>
      <if test="wv0014 != null">
        WV0014,
      </if>
      <if test="wv0016 != null">
        WV0016,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wvteil != null">
        #{wvteil,jdbcType=INTEGER},
      </if>
      <if test="wvmerkmal != null">
        #{wvmerkmal,jdbcType=SMALLINT},
      </if>
      <if test="wvunters != null">
        #{wvunters,jdbcType=SMALLINT},
      </if>
      <if test="wvwertnr != null">
        #{wvwertnr,jdbcType=INTEGER},
      </if>
      <if test="wvwert != null">
        #{wvwert,jdbcType=DOUBLE},
      </if>
      <if test="wvattribut != null">
        #{wvattribut,jdbcType=SMALLINT},
      </if>
      <if test="wvpruefer != null">
        #{wvpruefer,jdbcType=INTEGER},
      </if>
      <if test="wvpruefmit != null">
        #{wvpruefmit,jdbcType=INTEGER},
      </if>
      <if test="wvmaschine != null">
        #{wvmaschine,jdbcType=INTEGER},
      </if>
      <if test="wvnest != null">
        #{wvnest,jdbcType=INTEGER},
      </if>
      <if test="wvdatzeit != null">
        #{wvdatzeit,jdbcType=TIMESTAMP},
      </if>
      <if test="wvstianf != null">
        #{wvstianf,jdbcType=TINYINT},
      </if>
      <if test="wvcharge != null">
        #{wvcharge,jdbcType=VARCHAR},
      </if>
      <if test="wvauftrag != null">
        #{wvauftrag,jdbcType=VARCHAR},
      </if>
      <if test="wv0005 != null">
        #{wv0005,jdbcType=VARCHAR},
      </if>
      <if test="wv0009 != null">
        #{wv0009,jdbcType=VARCHAR},
      </if>
      <if test="wv0014 != null">
        #{wv0014,jdbcType=VARCHAR},
      </if>
      <if test="wv0016 != null">
        #{wv0016,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>